.optionsNavigation {
    display: flex;
    gap: 20px;
}

.smallFont {
    span {
        font-size: 14px;
    }
}

.gastronomyCTAbtn {
    background-size: 115px;
    height: 85px;
}

.gastronomyTextWrapper {
    flex-basis: 100%;
    padding-right: 65px;
}

.certificateCTAbtn {
    background-size: 60px;
    height: 60px;
}

.banquetsCTAbtn {
    background-size: 65px;
    height: 60px;
}

.eventsCTAbtn {
    background-size: 75px;
    height: 65px;
}

.eventsTextWrapper {
    gap: 0;
}