.optionsNavigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-right: 15px;
    box-sizing: border-box;
}

.smallFont {
    span {
        font-size: 14px;
    }
}

.gastronomyCTAbtn {
    background-size: 115px;
    height: 85px;
}

.certificateCTAbtn {
    background-size: 60px;
    height: 60px;
}

.banquetsCTAbtn {
    background-size: 65px;
    height: 60px;
}

.eventsCTAbtn {
    background-size: 75px;
    height: 65px;
}