.optionsNavigation {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    padding-right: 15px;
    box-sizing: border-box;
}

.smallFont {
    span {
        font-size: 14px;
    }
}

.gastronomyCTAbtn {
    background-size: 100px;
}

.certificateCTAbtn {
    background-size: 70px;
}

.banquetsCTAbtn {
    background-size: 75px;
}

.eventsCTAbtn {
    background-size: 85px;
}