.page {
    background-color: var(--primary-background);
    height: 100vh;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 14px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: var(--grey);
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}
