.body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px 15px;
}

.mont {
    font-family: "Mont", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_group {
    display: flex;
    gap: 4px;
    align-items: center;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.header_spacer {
    width: 44px;
    height: 44px;
}

.ticket {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Mont", sans-serif;
    background-color: white;
    border-radius: 15px;
    padding: 20px 15px;
}

.ticket_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #e7e7e7;
}

.ticket_header_img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 12px;
    /*width: 85px;*/
    /*min-width: 85px;*/
    /*height: 165px;*/
}

.ticket_header_details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ticket_header_details__title {
    font-weight: 700;
    font-size: 14px;
}

.ticket_header_details__res {
    font-weight: 700;
    font-size: 12px;
    color: var(--grey);
}

.ticket_details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #e7e7e7;
}

.ticket_details_row {
    display: flex;
}

.ticket_details_row_obj {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 50%;
}

.ticket_details_row_obj__title {
    font-weight: 600;
    font-size: 12px;
    color: var(--grey);
}

.ticket_details_row_obj_cont_small {
    font-weight: 700;
    font-size: 14px;
    color: var(--black);
}

.ticket_details_row_obj_cont {
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
}

.bgImage {
    background-size: cover;
    background-position: center;
}

.refundBtn {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 12px;
    background-color: var(--secondary-light-grey);
    border-radius: 14px;
    padding: 6px 12px;
    color: var(--dark-grey);
}

.refundTrue {
    background-color: var(--red);
    color: white;
}

.cancelText {
    font-family: "Mont", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: var(--grey);
}
