.storyBlock {
    width: 93px;
    height: 93px;
    background-color: var(--secondary-background);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-right: 10px;
}

.storyBlockImage {
    width: 100%;
    height: 93px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.storyBlockImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.isClicked {
    border: 2px solid var(--red);
    align-self: flex-end;
}
