.select_timeOfDay {
    gap: 0!important;
    flex-direction: row!important;
}

.timeslotsError {
    margin: 0;
    padding: 20px 15px;
    background-color: var(--primary-background);
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.timeOfDay {
    border-radius: 20px;
    padding: 11px 16px;

    span {
        font-family: 'Mont', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: var(--grey);
    }
}

.timeOfDay__active {
    background-color: var(--secondary-background);

    span {
        color: var(--black);
    }
}

.timeList {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
}

.timeList :global(.swiper) {
    overflow: visible;
    width: 100%;
}

.timeList_button {
    padding: 11px 30px;
    border: 2px solid var(--secondary-background, #F4F4F4);
    border-radius: 20px;
    width: max-content;
    cursor: pointer;

    span {
        font-family: 'Mont', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

.timeList_button__highlighted {
    &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 0;
        width: 20px;
        height: 40px;
        background-image: url('/img/highlight.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
    }
}

.timeList_button__active {
    border-color: var(--black);
    &.timeList_button__highlighted {
        border-color: #E9622C;
        &::before {
            background-image: none;
        }
    }
}

