.bottom_wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 15;
    background-color: #fff;
    padding: 8px 0 25px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    box-shadow: 3px 0 10px #938e8e;
}

.bottom_wrapper_relative {
    position: relative;
}

.button_wrapper {
    display: flex;
    padding: 0 15px;
    gap: 5px;
}

.button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    padding: 15px 0;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .text {
        font-family: 'Mont', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: var(--primary-background);
    }

    &.disabled {
        background-color: var(--medium-grey) !important;
        color: white !important;
    }

    &.loading {
        pointer-events: none;

        .text {
            opacity: 0;
        }
    }

    &.red {
        background-color: var(--red);
    }

    &.primary {
        background-color: var(--third-background);

        .text {
            color: var(--black);
        }
    }
}