.restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 15px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}