.storyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    > span {
        font-family: "Mont", sans-serif;
        font-size: 0.65rem;
        font-weight: 600;
        text-align: center;
    }
}

.storyBlock {
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
    border-radius: 86px;
    background-color: var(--secondary-background);
    overflow: hidden;
    text-align: center;
    position: relative;
}

.storyBlockImage {
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.storyBlockImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.storyBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid var(--grey);
    border-radius: 86px;
}