.header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row!important;
}

.separator {
    width: 44px;
}

.headerTitle {
    font-family: 'Mont', sans-serif!important;
    text-transform: capitalize!important;
    font-weight: 400!important;
    font-size: 14px!important;
    text-align: center!important;
    padding: 0!important;
    margin: 0!important;
}

.headerInfo {
    gap: 4px!important;
    &>h3 {
        padding: 0!important;
        margin: 0!important;
        height: 20px!important;
        line-height: 20px!important;
    }
}

.headerAddress {
    font-weight: 400!important;
    font-size: 12px!important;
    color: var(--grey)!important;
    text-align: center!important;
}

.selectors {
    gap: 8px!important;
}

.selectorsRow {
    flex-direction: row!important;
    align-items: stretch;
    gap: 8px!important;

    &>div {
        flex: 1;
    }
}

.bookingInfo {
    font-size: 14px;
    font-optical-sizing: auto;
    font-family: "Cormorant", serif;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey);
}

.bookingInfo__phone {
    font-family: Mont, sans-serif;
    color: var(--black);
}

.header__selector {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.header__select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 13px 16px;
    background-color: var(--secondary-background);
    border-radius: 12px;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.invalid {
    border-bottom: 1px solid var(--red);
}

.header__select__left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header__select__left_text {
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.timeOfDayContainer {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.select_timeOfDay {
    gap: 0!important;
    flex-direction: row!important;
}

.noTimeSlotsText {
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.timeslotsError {
    margin: 0;
    padding: 20px 15px;
    background-color: var(--primary-background);
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.timeOfDay {
    border-radius: 20px;
    padding: 11px 16px;

    span {
        font-family: 'Mont', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: var(--grey);
    }
}

.timeOfDay__active {
    background-color: var(--secondary-background);

    span {
        color: var(--black);
    }
}

.timeList {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;
}

.timeList_button {
    padding: 11px 30px;
    border: 2px solid var(--secondary-background, #F4F4F4);
    border-radius: 20px;
    width: max-content;
    cursor: pointer;

    span {
        font-family: 'Mont', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

.timeList_button__active {
    border-color: var(--black);
}

.preorder {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Mont', sans-serif;
    font-size: 14px;

    label {
        width: 100%;
        padding: 12px;
    }
}

.commentary_options {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}