.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
    position: relative;
}

.icon {
    position: absolute;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.imageContainer {
    display: flex;
    justify-content: end;
    min-height: 270px;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 12px;
}

.closeButton {
    padding: 12px;
    height: fit-content;
}