.popup {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 15px;
}

.text {
    text-align: center;
    font-family: "Mont", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.end {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5px;
    right: 15px;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.title {
    font-family: 'Mont', sans-serif;
    font-weight: 600;
    font-size: 20px;
    /*text-transform: uppercase;*/
    text-align: center;
}

.sub_title {
    font-family: "Mont", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
    text-align: center;
}

.button {
    background-color: var(--red);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 15px;
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.button__disabled {
    background-color: var(--third-background);
    color: black;
    /*cursor: not-allowed;*/
}

.margin_bottom {
    margin-bottom: 20px;
}