.container {
    background-color: var(--primary-background);
    min-height: 100vh;
    height: 100%;
    padding-bottom: 85px;
}

.loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    > h1 {
        font-family: "Mont", sans-serif;
        font-weight: 400;
        font-size: 1.25rem;
        text-align: center;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.certificateFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 4px;

    > span {
        font-family: "Mont", sans-serif;
        font-size: 0.75rem;
        font-weight: 600;

        > b {
            font-size: 1.25rem;
            font-weight: 700;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px dashed var(--black);
        padding-bottom: 1rem;
    }
}

.conditions {
    display: flex;
    flex-direction: column;
    font-family: "Mont", sans-serif;
    font-size: 0.75rem;
}

.conditionsList {
    display: flex;
    flex-direction: column;
    margin-top: 6px;

    > ul {
        padding-left: 1rem;
    }
}

.restaurantsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.pageTitle {
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}