
.certificate {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    height: 200px;
    min-height: 200px;
    align-items: center;
    background-size: 100% 100%;
}

.certificateLogo {
    max-width: 110px;
    max-height: 20px;
    margin-top: 16px;

    > img {
        width: 100%;
        height: 100%;
    }
}

.placeholder {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    color: #3B3C40;
    text-align: center;
    margin-top: 25px;
}

.bigFont {
    font-size: 37px;
}

.fontSMaller {
    font-size: 20px;
}

.certificateData {
    display: flex;
    justify-content: space-around;
    font-family: 'Mont', sans-serif;
    width: 100%;
    margin-top: 60px;

    span {
        color: var(--primary-background);
        font-size: 11px;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-basis: 18%;
    }
}
