.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--primary-background);
}

.pageNoPadding {
    padding: 0;
    gap: 0;
}

.pageNoPadding .header {
    padding: 20px 15px;
}

.pageNoGap {
    gap: 0;
    padding: 0;
}

.pageNoGap .header {
    padding: 20px 15px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerWhite {
    background-color: var(--primary-background);
}

.headerFullWidth {
    width: 100%;
    box-sizing: border-box;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0.75rem;
    border-radius: 20px;
    background-color: var(--primary-background);
}

.spacer {
    width: 44px;
    height: 44px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    width: 100%;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Mont", sans-serif;


    > h2 {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
    }

    > img {
        aspect-ratio: 321 / 184;
        width: 100%;
    }

    > ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 0 24px;

        > li {
            font-size: 0.875rem;
    }
}
}

.restaurantChoose {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 15px 20px 15px;
    border-radius: 20px;
    background-color: var(--primary-background);
}