.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    min-height: 100vh;
    padding-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.spacer {
    width: 44px;
    height: 44px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    width: 100%;
    justify-content: space-between;
}
