.storyComponent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.storyWrapper {
    display: flex;
    padding-top: 88px;
    height: 100vh;
    flex-direction: column-reverse;
}

.storyFooter {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    margin-right: 15px;
    margin-left: 15px;
    z-index: 10;
}

.storyDescription {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.storyDescriptionTitle {
    padding: 0;
    margin: 0;
    font-family: "Mont", sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.storyDescriptionSubtitle {
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.storyImageWrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    img {
        /*max-width: 100%;*/
        /*width: 100%;*/
        border-radius: 12px;
    }
}

.logo {
    width: 160px;
}

.button_container {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 239px;
    height: 50px;

    span {
        color: var(--primary-background);
    }
}
