.page {
    height: 100vh;
    background-color: var(--primary-background);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 14px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navLink {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.navLinkTitle {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.spacer {
    width: 44px;
    height: 44px;
}

.testerModeDivider {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: -15px;
}

.testerModeDescription {
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    padding: 10px;
    background-color: var(--secondary-background);
    border-radius: 12px;
    margin-top: -15px;
}