.swiper {
    width: 100%;
}

.bookingReminder {
    width: 345px;
    min-height: 75px;
    padding: 16px;
    background-color: var(--secondary-background);
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.sub {
    display: flex;
    gap: 12px;
}

.subItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subText {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--dark-grey);
}
