.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 14px;
    background-color: var(--secondary-background);

    > img {
        max-width: 72px;
        max-height: 72px;

        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.title {
    font-family: Mont, sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: var(--black);
}