.element {
    width: 100%;
    background-color: var(--secondary-background);
    border-radius: 16px;
    padding: 12px 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 98% 12px;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 8px;
}

.topIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomText {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Mont', sans-serif;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 77%;
}

.title {
    font-size: 16px;
    font-weight: 800;
    font-family: 'Mont', sans-serif;
}

.subtitle {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Mont', sans-serif;
}

.separator {
    height: 50px;
    width: 30px;
}
