.page {
    background-color: var(--third-background);
    height: 100vh;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    text-align: center;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 30px 14px 0;
}

.banquet_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: var(--primary-background);
    border-radius: 20px;
}

.content_title {
    margin: 0;
    font-family: "Heading Pro Ultracompressed", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.banquet_title {
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.banquet_img {
    max-height: 215px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.banquet_text {
    font-family: 'Mont', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.address_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 15px;
    background-color: var(--primary-background);
    border-radius: 20px;
}
