.header {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: transparent;
    /*background: rgba(255, 255, 255, 0.8);*/
}


.header_wrapper {
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 28px;
}

.logo_container {
    display: flex;
    justify-content: center;
}

.stage_container {
    display: flex;
    gap: 5px;
}

.stage {
    height: 8px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.stage__active {
    background-color: var(--red);
}

.logo {
    width: 160px;
    /*height: 16px;*/
}

.stage_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.stage_page_wrapper {
    display: flex;
    padding-top: 88px;
    height: 100vh;
    flex-direction: column-reverse;
    /*justify-content: center;*/
}

.stage_footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    margin-right: 15px;
    margin-left: 15px;
    z-index: 10;
}

.stage_description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.stageTwo_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.white {
    color: white !important;
}

.stage_description_title {
    padding: 0;
    margin: 0;
    font-family: "Heading Pro Ultracompressed", sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.stage_description_subtitle {
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: center;
}

.redButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #CA0E11;
    width: 239px;
    height: 50px;

    span {
        color: var(--primary-background);
    }
}


.stageOne_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stageOne_icon {
    max-width: 100%;
}

.stageTwo__background {
    background-image: url("/img/onboarding/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 130px;

}


.stageThree_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    overflow-x: clip;

}

.stageThree_images {
    width: 375px;
    height: 434px;

    .stageThree_image_1 {
        left: 15px;
        transform: rotate(-12deg);
        z-index: 0;
    }

    .stageThree_image_2 {
        left: -63px;
        top: 30px;
        transform: rotate(-12deg);
        z-index: 2;
    }

    .stageThree_image_3 {
        left: 156px;
        top: -241px;
        transform: rotate(16deg);
        z-index: 1;
    }
}

.stageThree_image {
    filter: drop-shadow(8px 8px 17px rgba(86, 85, 85, 0.5));
    position: relative;
    width: 286px;
    height: 173px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 10% 10%;
    /*Быстрофикс отброса теней на ios*/
    -webkit-transform: rotateZ(360deg);
}

.stageFour_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
}

.stageFour_content {
    width: 375px;
    height: 434px;

    .opinion_1 {
        top: 0;
        left: 111px;
        transform: rotate(-6deg);
    }

    .opinion_2 {
        top: 39px;
        left: 56px;
        transform: rotate(-40deg);
    }

    .opinion_3 {
        top: 80px;
        left: -11px;
        transform: rotate(37deg);
    }

    .opinion_4 {
        top: 45px;
        left: 124px;
        transform: rotate(41deg);
    }

    .opinion_5 {
        top: 90px;
        left: 27px;
        transform: rotate(-33deg);
    }

    .opinion_6 {
        top: 72px;
        left: 234px;
        transform: rotate(18deg);
    }

    .opinion_7 {
        top: 71px;
        left: 145px;
        transform: rotate(19deg);
    }

    .opinion_8 {
        top: 61px;
        left: 21px;
        transform: rotate(-1deg);
    }
}

.opinion {
    position: relative;
    display: flex;
    padding: 11px 16px;
    background: #fff;
    border-radius: 20px;
    width: max-content;

    span {
        font-family: "Mont", sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
}

.stageFive_footer_description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.stageFive_footer_description_text {
    display: flex;
    color: var(--grey);
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.stageFive_wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stageFive_phone {
    width: 220px;
    filter: drop-shadow(14px 14px 24px rgba(101, 94, 94, 0.5));
    -webkit-transform: rotateZ(360deg);
}

.redUnderline {
    color: var(--red);
}

.redButton__disabled {
    cursor: not-allowed;
    background-color: var(--grey);
}

.stageSix_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    padding: 0 15px 24px;
}

.stageSeven_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    padding: 40px 0;
}

.stage_options_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.agreement {
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 14px;
    overflow-y: scroll;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100%;
    input {
        background-color: white;
        width: 100%;
        margin: 10px 0;
    }
}

.closeIcon {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 10001;
    cursor: pointer;

    >svg {
        transform: scale(0.6);
    }
}

