.container {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
}

.overlay {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
}
