.stories_container {
    /*position: fixed;*/
    /*position: relative;*/
    top: 0;
    left: 0;
    /*z-index: 10000 !important;*/
    height: 100vh;
    width: 100%;
}

.slide {
    /*position: relative;*/
    /*z-index: 10000 !important;*/
    text-align: center;
    font-size: 18px;
    background-color: #fff!important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}

.progressBar {
    background-color: rgba(245, 42, 45, 0.8)!important;
}

.closeIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10001;
}

.logo_container {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    z-index: 10001;
    margin: auto;
    left: 0;
    right: 0;
}

.logo {
    width: 160px;
}
