.loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    height: 100vh;
}

.whiteBg {
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.spacer {
    width: 44px;
    height: 44px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.page_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--black);
    text-align: center;
}

.absoluteBottom {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.relativeBottom {
    position: relative !important;
    bottom: 0 !important;
}

.bottomWrapper {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.certificateOption {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 90px;
    gap: 10px;
    border-radius: 12px;
    background-color: white;
    font-family: 'Mont', sans-serif;
    color: var(--dark-grey);
}

.fontSMaller {
    font-size: 20px;
}

.ratings {
    display: flex;
    gap: 5px;
}

.rating {
    display: flex;
    gap: 8px;
    padding: 11px 16px;
    border-radius: 20px;
    width: max-content;
    font-family: "Mont", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    background-color: var(--secondary-background);
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
}

.ratingActive {
    border-color: var(--black);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.certificateImage {
    max-height: 185px;

    > img {
        width: 100%;
        height: 100%;
    }
}

.certificateList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 300;
    padding: 0;
    margin-left: 20px;

    > li::marker {
        font-size: 0.8rem;
    }
}