.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
    height: 100vh;
}

.whiteBg {
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.spacer {
    width: 44px;
    height: 44px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.page_title {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--black);
    text-align: center;
}

.absoluteBottom {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.relativeBottom {
    position: relative !important;
    bottom: 0 !important;
}

.bottomWrapper {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.certificateOption {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    border-radius: 12px;
    background-color: white;
    font-family: 'Mont', sans-serif;
    color: var(--dark-grey);
}

.certificateExample {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCC200;
    border-radius: 12px;
    padding: 16px;
    /*background-image: url('/img/cert.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
    width: 100%;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.compliment {
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3B3C40;
    text-align: center;
}

.complimentOffline {
    font-size: 37px;
}

.certificateBottom {
    /*position: absolute;*/
    /*bottom: 30px;*/
    display: flex;
    gap: 20px;
    font-family: 'Mont', sans-serif;
    justify-content: space-between;
    width: 100%;

    span {
        color: var(--dark-grey);
        font-size: 11px;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-basis: 18%;
    }
}

.ratings {
    display: flex;
    gap: 5px;
}

.rating {
    display: flex;
    gap: 8px;
    padding: 11px 16px;
    border-radius: 20px;
    width: max-content;
    font-family: "Mont", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    background-color: var(--secondary-background);
    cursor: pointer;
    align-items: center;
    border: 1px solid transparent;
}

.ratingActive {
    border-color: var(--black);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.animationContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-left: -15px;
    overflow: hidden;
}

.animatedImageOne {
    position: absolute;
    top: 0;
    right: -15px;
    transform: translate(100%, 0);
    animation-name: slide-in-center;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animatedImageTwo {
    position: absolute;
    top: 30%;
    left: -15px;
    animation-name: slide-in-center-2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translate(-100%, 0);
}

@keyframes slide-in-center {
    to {
        right: 270px;
    }
}

@keyframes slide-in-center-2 {
    to {
        left: 270px;
    }
}
