.banner {
    width: 100%;
    /* min-height: 105px; */
    contain: layout;
}

.swiper {
    padding: 0 8px!important;
    display: flex!important;
    justify-content: center!important;
}

.photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;

    width: 370px;
    min-width: 370px;
    max-width: 370px;
    height: 105px;
    flex-shrink: 0;
    
    cursor: pointer;
}