.title {
    display: flex;
    justify-content: space-between;

    > span {
        font-family: "Mont", sans-serif;
        font-size: 1rem;
        font-weight: 700;
    }
}

.arrow {
    display: flex;
    transform: rotate(180deg);
    padding-left: 4px;
    padding-right: 0;
}

.arrow__active {
    transform: rotate(0deg);
    padding-left: 0;
    padding-right: 4px;
}